body {
  background: #191919;
  color: silver;
}
.text {
  position: absolute;
  margin: 110px 25px 0px 25px;
  padding-bottom: 310px;
}

.textBody {
  margin: 0 8rem 0 3rem;
}

#canvas {
  position: fixed;
  bottom: 0px;
}

table {
  width: 75%;
  text-align: center;
  align-content: center;
  margin: 1rem auto 1rem auto;
  border: 1px solid silver;
}
th {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  font-size: 1.2rem;
}
td {
  border-right: 1px solid silver;
}
